.app-header {
	background: #03a9f4;
	color: white;
	section.container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		h1.logo {
			flex-grow: 1;
			font-weight: 600;
		}

		.back {
			flex-grow: 1;
		}

		nav {
			a:not(:last-child) {
				margin-right: 10px;
			}
		}
	}
}
