.contact-edit {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	form {
		display: flex;
		flex-direction: column;
		gap: 1rem;

		label {
			margin-top: 20px;
		}

		button {
			display: flex;
			gap: 0.5rem;
			justify-content: center;
			align-items: center;
			width: 50%;
			margin-top: 40px;
			align-self: center;
			background-color: #03a9f4;
			padding: 10px;
			border: 1px solid lightgray;
			border-radius: 555px;
			margin: 0;
			color: white;
		}
		img {
			border-radius: 50%;
			background-color: pink;
			width: 30%;
			border: 2px dashed green;
		}

		input {
			width: 80%;
			border-radius: 555px;
			padding: 4px 12px;
			border: 1px solid lightgray;
		}
	}
	.button-container {
		height: 40px;
		width: 40px;
	}
	button.round {
		border-radius: 50%;
		background-color: #03a9f4;
		border: 1px solid lightgrey;
		height: 40px;
		width: 40px;
		color: white;
		position: absolute;
		left: 18px;
		top: 0;
		font-size: 1.5rem;
	}
	button.round.right {
		left: auto;
		right: 0;
	}
}
